body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cvWrapper {
  height: 29.6cm;
  width: 21cm;
}

.cvContent {
  background-color: lightgoldenrodyellow;
  height: 100%;
  width: 100%;
}