body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cvWrapper {
  height: 29.6cm;
  width: 21cm;
}

.cvContent {
  background-color: lightgoldenrodyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.Header {
  background-color: aliceblue;
  height: 12%;
  width: 100%;
}

.Summary {
  background-color: lightsalmon;
  height: 16%;
  width: 90%;
}

.Experience {
  background-color: lightgreen;
  height: 62%;
  width: 90%;
}

.Info {
  background-color: lightpink;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
  width: 90%;
}

.Education {
  background-color: lightblue;
  height: 100%;
  width: 40%;
}

.Awards {
  background-color: beige;
  height: 100%;
  width: 40%;
}

.Languages {
  background-color: aliceblue;
  height: 100%;
  width: 20%;
}